<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOARD_상세보기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
</head>
<body>
    <table>
        <caption>게시글 상세보기</caption>
        <tr>
            <th>글번호</th>
            <td th:text="${board.bNo}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="${board.bTitle}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${board.bWriter}"></td>
        </tr>
        <tr>
            <th>작성일</th>
            <td th:text="${board.bDate}"></td>
        </tr>
        <tr>
            <th>조회수</th>
            <td th:text="${board.bHit}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${board.bContent}"></td>
        </tr>
        <tr>
            <th>첨부파일</th>
            <td><img th:src="@{/upload/{bFileName}(bFileName=${board.bFileName})}" width="200px"></td>
        </tr>


        <tr th:if="${session.loginId eq board.bWriter || session.loginId eq 'admin'}">
            <td colspan="2">
                <a th:href="@{bModiForm(bNo=${board.bNo})}"><button>수정</button></a>
                <a th:href="@{bDelete(bNo=${board.bNo})}"><button>삭제</button></a>
            </td>
        </tr>
    </table>
</body>
</html>